.section {
  position: relative;
  background-size: cover;
  height: 100vh !important;
}

.row3 {
  background: #fe8e06;
}

.row4 {
  background: #ed6374;
}

.row5 {
  background: #29ae8f;
}

.row6 {
  background: #fe8e06;
}
