@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: "Rubik", sans-serif;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.fwhite {
  color: #ffffff;
}

.fyellow {
  color: #f48120;
}

.ybtn {
  font-size: 18px;
  padding: 8px 50px;
  line-height: 1.8em;
  font-weight: normal;
  border: 2px solid #f48120;
  border-radius: 25px;
  color: #f48120;
  text-transform: uppercase;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.ybtn:hover {
  background: #f48120;
  color: #000000;
}

header .navbar {
  background: none;
}

header .navbar .navbar-brand img {
  width: 165px;
  background: #ffffff;
  padding: 8px;
  border-radius: 10px;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .navbar .navbar-nav {
    background: #f48120;
    padding-left: 15px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header .navbar .navbar-nav {
    background: #f48120;
    padding-left: 15px;
  }
}

header .navbar .nav-item .nav-link {
  color: #ffffff;
}

header .navbar .nav-item .nav-link:hover {
  color: #f48120;
}

@media (min-width: 320px) and (max-width: 575px) {
  header .navbar .navbar-toggler {
    background: #f48120;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  header .navbar .navbar-toggler {
    background: #f48120;
  }
}

.links {
  position: fixed;
  top: 50%;
  right: 0;
  width: 140px;
  z-index: 99;
  margin-top: -92px;
}

@media (min-width: 320px) and (max-width: 575px) {
  .links {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .links {
    display: none;
  }
}

.links a {
  display: block;
  margin: 20px 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.links a:before {
  content: "";
  width: 15px;
  height: 15px;
  background: transparent;
  border: 2px solid #f48120;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  position: absolute;
  top: 0;
  right: -100px;
  bottom: inherit;
  left: inherit;
  border-radius: 50%;
}

.links a span {
  display: none;
  opacity: 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  left: 0;
  text-align: right;
  width: 91px;
  position: relative;
  top: -10px;
  font-size: 12px;
  color: #ffffff;
}

.links a:hover:before {
  content: "";
  width: 15px;
  height: 15px;
  background: #f48120;
  opacity: 1;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  position: absolute;
  top: 0;
  right: -100px;
  bottom: inherit;
  left: inherit;
  border: 1px solid #f48120;
}

.links a:hover span {
  position: absolute;
  top: 1px;
  right: inherit;
  bottom: inherit;
  left: 0;
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
  line-height: 15px;
  opacity: 1;
  left: 0;
}

.links a.Select-nav:before {
  content: "";
  width: 15px;
  height: 15px;
  background: #f48120;
  opacity: 1;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  position: absolute;
  top: 0;
  right: -100px;
  bottom: inherit;
  left: inherit;
  border: 1px solid #f48120;
}

.links a.Select-nav span {
  position: absolute;
  top: 1px;
  right: inherit;
  bottom: inherit;
  left: 0;
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
  line-height: 15px;
  opacity: 1;
  left: 0;
}

.h1 {
  font-size: 75px;
  text-transform: uppercase;
  color: #f48120;
}

@media (min-width: 320px) and (max-width: 575px) {
  .h1 {
    font-size: 45px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .h1 {
    font-size: 30px;
  }
}

.h1 span {
  background: #ffffff;
  color: #2b3033;
  padding: 0 15px;
}

.h2 {
  font-size: 60px;
  text-transform: uppercase;
  color: #f48120;
}

@media (min-width: 320px) and (max-width: 575px) {
  .h2 {
    font-size: 45px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .h2 {
    font-size: 25px;
  }
}

.h2 span {
  background: #ffffff;
  color: #2b3033;
  padding: 0 15px;
}

.h3 {
  font-size: 30px;
  text-transform: uppercase;
}

.h3 span {
  background: #ffffff;
  color: #2b3033;
  padding: 0 15px;
}

.h4 {
  font-size: 25px;
  text-transform: uppercase;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-size: cover;
  height: 100vh;
}

@media (min-width: 320px) and (max-width: 575px) {
  .section {
    height: auto;
    background-repeat: repeat;
    padding: 50px 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .section {
    height: auto;
    background-repeat: repeat;
    padding: 50px 0;
  }
}

#top {
  background: url(../img/banner.jpg) no-repeat 0 0;
}

#two {
  background: url(../img/bg2.jpg) no-repeat 0 0;
}

#three {
  background: url(../img/threebg.jpg) no-repeat 0 0;
}

#four {
  background: url(../img/timeline.jpg) no-repeat 0 0;
}

#five {
  background: url(../img/banner.jpg) no-repeat 0 0;
}

#six {
  background: url(../img/contact-bg.jpg) no-repeat 0 0;
}

#seven {
  background: url(../img/timeline.jpg) no-repeat 0 0;
}

.bannerSection .vkimg {
  height: 90vh;
}

.bannerSection .vkrArticle {
  width: 85%;
}

@media (min-width: 320px) and (max-width: 575px) {
  .bannerSection .vkrArticle {
    width: 100%;
    margin-top: -60px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .bannerSection p {
    font-size: 13px;
    line-height: 20px;
  }
}

.cd-horizontal-timeline .events-wrapper::before,
.cd-horizontal-timeline .events-wrapper::after {
  background: none !important;
}

.events-content li .h4 {
  font-size: 17px;
}

.events-content li p {
  font-size: 15px;
  color: #ffffff;
}

.events-content li .h3 {
  padding-bottom: 20px;
}

.listgroup span {
  display: inline-block;
  padding: 0 15px 10px 15px;
}

.listgroup span:before {
  content: "\f005";
  font-family: "icomoon" !important;
  color: #f48120;
  font-size: 15px;
  position: relative;
  left: -10px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.booksSwiper {
  margin-top: 50px;
}

.booksSwiper .swiper-slide img {
  height: 363px;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
}

.booksSwiper .swiper-button-next:after,
.booksSwiper .swiper-container-rtl .swiper-button-prev:after {
  color: #f48120;
}

.booksSwiper .swiper-button-prev:after,
.booksSwiper .swiper-container-rtl .swiper-button-next:after {
  color: #f48120;
}

.modal {
  padding-right: 0 !important;
}

.fullModal {
  max-width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.fullModal .modal-content {
  height: 100%;
  border-radius: 0;
  width: 100%;
  color: #000000;
}

.fullModal .modal-content .modal-header .close {
  margin: 0;
}

.fullModal .vspHeader {
  background: #f48120;
  padding: 50px 0;
  text-align: center;
}

.fullModal .vspHeader img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid #ffffff;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  margin-bottom: 20px;
}

.contactForm {
  margin-top: 25px;
}

.contactForm .form-group {
  margin-bottom: 35px;
}

.contactForm .form-group .form-control {
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0;
  background: none;
  padding-left: 0;
  color: #ffffff;
}

.contactForm .form-group .form-control:focus {
  outline: none;
  border-bottom: 1px solid #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contactForm input[type="submit"] {
  background: none;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.contactForm input[type="submit"]:hover {
  background: #f48120;
}

.contactForm input[type="submit"]:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.gallerySwiper {
  height: 520px;
}

.gallerySwiper .swiper-slide {
  height: calc((100% - 30px) / 2);
  background: none;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 575px) {
  .gallerySwiper .swiper-slide {
    height: 210px;
  }
  .gallerySwiper .swiper-slide img.img-fluid {
    height: 210px !important;
  }
}

.gallerySwiper .swiper-slide img.img-fluid {
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  height: 245px;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */