@import "mixins";
@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
}

a {
  &:hover {
    text-decoration: none;
  }
}

body {
  @include sitefont;
}

.fwhite {
  color: $white;
}
.fyellow {
  color: $yellow;
}

.ybtn {
  font-size: 18px;
  padding: 8px 50px;
  line-height: 1.8em;
  font-weight: normal;
  border: 2px solid $yellow;
  border-radius: 25px;
  color: $yellow;
  text-transform: uppercase;
  @include transition;

  &:hover {
    background: $yellow;
    color: $black;
  }
}

header {
  .navbar {
    background: none;

    .navbar-brand {
      img {
        width: 165px;
        background: $white;
        padding: 8px;
        border-radius: 10px;
      }
    }

    .navbar-nav {
      @include mob {
        background: $yellow;
        padding-left: 15px;
      }
      @include mlscape {
        background: $yellow;
        padding-left: 15px;
      }
    }

    .nav-item {
      .nav-link {
        color: $white;

        &:hover {
          color: $yellow;
        }
      }
    }

    @include mob {
      .navbar-toggler {
        background: $yellow;
      }
    }
    @include mlscape {
      .navbar-toggler {
        background: $yellow;
      }
    }
  }
}

.links {
  position: fixed;
  top: 50%;
  right: 0;
  width: 140px;
  z-index: 99;
  margin-top: -92px;

  @include mob {
    display: none;
  }
  @include mlscape {
    display: none;
  }

  a {
    display: block;
    margin: 20px 10px;
    cursor: pointer;
    @include transition;
    position: relative;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border-radius: 50%;

    &:before {
      content: "";
      width: 15px;
      height: 15px;
      background: transparent;
      border: 2px solid $yellow;
      @include transition;
      @include positionall(0, -100px, inherit, inherit);
      border-radius: 50%;
    }

    span {
      display: none;
      opacity: 0;
      @include transition;
      left: 0;
      text-align: right;
      width: 91px;
      position: relative;
      top: -10px;
      font-size: $fsize - 3;
      color: $white;
    }

    &:hover {
      &:before {
        content: "";
        width: 15px;
        height: 15px;
        background: $yellow;
        opacity: 1;
        @include transition;
        @include positionall(0, -100px, inherit, inherit);
        border: 1px solid $yellow;
      }
      span {
        @include positionall(1px, inherit, inherit, 0);
        display: inline-block;
        font-size: $fsize - 3;
        color: $white;
        line-height: 15px;
        opacity: 1;
        left: 0;
      }
    }
  }
  a.Select-nav {
    &:before {
      content: "";
      width: 15px;
      height: 15px;
      background: $yellow;
      opacity: 1;
      @include transition;
      @include positionall(0, -100px, inherit, inherit);
      border: 1px solid $yellow;
    }
    span {
      @include positionall(1px, inherit, inherit, 0);
      display: inline-block;
      font-size: $fsize - 3;
      color: $white;
      line-height: 15px;
      opacity: 1;
      left: 0;
    }
  }
}

.h1 {
  font-size: $fsize * 5;
  text-transform: uppercase;
  color: $yellow;

  @include mob {
    font-size: $fsize * 3;
  }
  @include mlscape {
    font-size: $fsize * 2;
  }

  span {
    background: $white;
    color: $gray;
    padding: 0 15px;
  }
}

.h2 {
  font-size: $fsize * 4;
  text-transform: uppercase;
  color: $yellow;

  @include mob {
    font-size: $fsize * 3;
  }
  @include mlscape {
    font-size: $fsize + 10;
  }

  span {
    background: $white;
    color: $gray;
    padding: 0 15px;
  }
}

.h3 {
  font-size: $fsize * 2;
  text-transform: uppercase;

  span {
    background: $white;
    color: $gray;
    padding: 0 15px;
  }
}

.h4 {
  font-size: $fsize * 2 - 5;
  text-transform: uppercase;
}

.section {
  @include verticalcenter;
  flex-wrap: wrap;
  background-size: cover;
  height: 100vh;

  @include mob {
    height: auto;
    background-repeat: repeat;
    padding: 50px 0;
  }
  @include mlscape {
    height: auto;
    background-repeat: repeat;
    padding: 50px 0;
  }
}

#top {
  background: url(../img/banner.jpg) no-repeat 0 0;
}

#two {
  background: url(../img/bg2.jpg) no-repeat 0 0;
}
#three {
  background: url(../img/threebg.jpg) no-repeat 0 0;
}
#four {
  background: url(../img/timeline.jpg) no-repeat 0 0;
}
#five {
  background: url(../img/banner.jpg) no-repeat 0 0;
}
#six {
  background: url(../img/contact-bg.jpg) no-repeat 0 0;
}
#seven {
  background: url(../img/timeline.jpg) no-repeat 0 0;
}
//bannerSection
.bannerSection {
  .vkimg {
    height: 90vh;
  }

  .vkrArticle {
    width: 85%;

    @include mob {
      width: 100%;
      margin-top: -60px;
    }
  }
  p {
    @include mlscape {
      font-size: $fsize - 2;
      line-height: 20px;
    }
  }
}

.cd-horizontal-timeline .events-wrapper::before,
.cd-horizontal-timeline .events-wrapper::after {
  background: none !important;
}

//infoSection

.events-content {
  li {
    .h4 {
      font-size: $fsize + 2;
    }
    p {
      font-size: $fsize;
      color: $white;
    }
    .h3 {
      padding-bottom: 20px;
    }
  }
}

.listgroup {
  span {
    display: inline-block;
    padding: 0 15px 10px 15px;

    &:before {
      content: "\f005";
      font-family: "icomoon" !important;
      color: $yellow;
      font-size: $fsize;
      position: relative;
      left: -10px;
    }
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  // background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.booksSwiper {
  margin-top: 50px;

  .swiper-slide {
    img {
      height: 363px;
      @include objectfitcover;
    }
  }

  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    color: $yellow;
  }
  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-next:after {
    color: $yellow;
  }
}

.modal {
  padding-right: 0 !important;
}

.fullModal {
  max-width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;

  .modal-content {
    height: 100%;
    border-radius: 0;
    width: 100%;
    color: $black;

    .modal-header {
      .close {
        margin: 0;
      }
    }
  }
  .vspHeader {
    background: $yellow;
    padding: 50px 0;
    text-align: center;

    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 10px solid $white;
      @include objectfitcover;
      margin-bottom: 20px;
    }
  }
}

.contactForm {
  margin-top: 25px;

  .form-group {
    margin-bottom: 35px;
    .form-control {
      border: none;
      border-bottom: 1px solid lighten($black, 50%);
      border-radius: 0;
      background: none;
      padding-left: 0;
      color: $white;

      &:focus {
        outline: none;
        border-bottom: 1px solid $white;
        box-shadow: none;
      }
    }
  }
  input[type="submit"] {
    background: none;
    @include transition;

    &:hover {
      background: $yellow;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

.gallerySwiper {
  height: 520px;
  .swiper-slide {
    height: calc((100% - 30px) / 2);
    background: none;

    @include mob {
      height: 210px;

      img.img-fluid {
        height: 210px !important;
      }
    }

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    img.img-fluid {
      @include objectfitcover;
      height: 245px;
      width: 100%;
    }
  }
}
